.topBarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7vh;
    min-height: 7vh;
    box-sizing: border-box;
    border-bottom: 1px solid #D7D7D7;
    align-items: center;
}

.header {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
    flex-grow: 1;
}