.container {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding-top: 0.5em;
    align-items: center;
    gap: 1em;
    flex-grow: 1;
}

.container button {
    border-radius: 10px;
    background-color: #F0DDFF;
    color: #C57FFF;
    padding: 0.3em 2em;
    font-size: 1.5em;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.inputGroup input[type=text], .inputGroup textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5em;
    font-weight: 300;
}

.inputGroup input::placeholder, .inputGroup textarea::placeholder {
    color: #CBCBCB;
    font-weight: 400;
}

.inner {
    padding: 1em;
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    border-radius: 20px;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    gap: 2em;
}

.descriptionInput {
    flex-grow: 1;
    min-height: 4em;
    text-align: left;
    resize: none;
    font-size: 1em;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
    justify-content: space-between;
}

.roomImage {
    aspect-ratio: 1;
    height: 10em;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}