.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1em;
}

.searchBar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    width: 100%;
}

.searchBar input {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 1em;
}

.searchBar input::placeholder {
    color: #B9B9B9;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    overflow-y: scroll;
}

.loadingImg {
    aspect-ratio: 1;
    margin-top: auto;
    height: 2em;
}