.background {
    display: flex;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.267);
    width: 100vw;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #F4F3F5;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #5F5F5F;
    width: 40vw;
    height: 50vh;
    padding: 2em;
    background-color: #e8e8e8;
    position: relative;
}

.topBarButtonsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.closeButton {
    position: absolute;
    aspect-ratio: 1;
    height: 1em;
    top: 1em;
    right: 1em;
}

.closeButton img {
    width: 100%;
}