.mainContainer {
    background-color: #F4F3F5;
    border-radius: 25px;
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.topBarButtonsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
